html {
    height: 100vh;
    margin: 0;
    background-image: linear-gradient(lavender, lightblue);
}

body {
    height: 100%;
    margin: 0;
    text-align: center;
}

#box {
    background-color: darkslateblue;
    width: 40vw;
    height: 40vh;
    top: 0;
    border: 5px solid white;
    border-top: none;
    margin: auto;
}

#cover #author { 
    font-weight: 500;
}

section.content {
    height: calc(100% - 30px);
    overflow: auto;
}

h1 {
    font-size: 3em;
}

h1, h2 {
    font-weight: 400;
    color: steelblue;
}

h2 {
    color: steelblue;
    font-weight: 400;
}

h3 {
    color: #311B92;
    font-weight: 400;
    text-align: left;
    padding: 0 4vw;
}

p {
    padding: 0 4vw;
    text-align: justify;
}

ul {
    padding-right: 4vw;
}

li {
    list-style: none;
    text-align: left;
    margin-bottom: 1vh;
}

li span.ref-num {
    font-weight: 700;
}

nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: fit-content;
    background-color: darkslateblue;
    color: white;
}

nav.home {
    padding: 2vh;
    width: 97%;
}

.nav-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.nav-row:first-child {
    bottom: 4vh;
    margin-bottom: 1.5vh;
}

.nav-row:nth-child(2) {
    bottom: 2vh;
}

nav a {
    text-decoration: none;
    color: white;
    padding: 0.5vh;
    margin: 0px 0.5vw;
    display: flex;
    flex-direction: row;
    width: fit-content;
    height: fit-content;
}

nav a.active, nav.home a:hover {
    background-color: white;
    border-radius: 20%;
}

nav a.active {
    color: darkslateblue;
}

nav a:hover {
    color: steelblue;
    background-color: white;
}

nav.page {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

nav.page a {
    width: 200px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav.page a span {
    margin: 0 1vw;
}

a.disabled {
    opacity: .6;
}