html {
    height: 100vh;
    margin: 0;
    background-image: linear-gradient(lavender, lightblue);
}

body {
    height: 100vh;
    margin: 0;
    text-align: center;
}

#box {
    background-color: darkslateblue;
    width: 40vw;
    height: 40vh;
    top: 0;
    border: 5px solid white;
    border-top: none;
    margin: auto;
}

#cover h1 {
    font-weight: 400;
    font-size: 3em;
    color: steelblue;
}

#cover #author { 
    font-weight: 500;
}

nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: fit-content;
    background-color: darkslateblue;
    color: white;
}

nav.home {
    padding: 2vh;
}

.nav-row:first-child {
    bottom: 4vh;
    margin-bottom: 1.5vh;
}

.nav-row:nth-child(2) {
    bottom: 2vh;
}

nav a {
    text-decoration: none;
    color: white;
    padding: 0.5vh;
    margin: 0px 0.5vw;
    vertical-align: middle;
}

nav a.active, nav.home a:hover {
    background-color: white;
    border-radius: 20%;
}

nav a.active {
    color: darkslateblue;
}

nav a:hover, nav button:hover {
    color: steelblue;
}

nav.page {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

nav.page button {
    border: none;
    background-color: transparent;
    width: 200px;
}

nav.page button a {
    display: flex;
    flex-direction: column;
}

nav.page button:hover {
    background-color: white;
}

button.disabled {
    opacity: .6;
}