$font-primary: 'KoHo', sans-serif;
$font-title: 'East Sea Dokdo', cursive;

* { position: relative; }

body {
    width: 80%;
    padding: 0 10%;
    margin: 0;
    font-family: $font-primary;
    font-size: 16px;
}

#background-image {
    /* Set rules to fill background */
    min-height: 100%;
    min-width: 1280px;
	
    /* Set up proportionate scaling */
    width: 100%;
    height: auto;
        
    /* Set up positioning */
    position: fixed;
    top: 0;
    left: 0;

    opacity: .3;
}

h1, h2 {
    font-family: $font-title;
    font-weight: bolder;
}

header {
    text-align: center;
    h1 {
        /* https://css-tricks.com/adding-stroke-to-web-text/#article-header-id-1 */
        -webkit-text-stroke: .1px red;
        color: white;
        text-shadow:
            3px 3px 0 #000,
            -1px -1px 0 #000,  
            1px -1px 0 #000,
            -1px 1px 0 #000,
            1px 1px 0 #000;
    }
}

#grid-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 5%;
    h2 {opacity: .87; }
    .grid-item {
        text-align: justify;
        img {
            z-index: 1;
            max-width: 50%;
            border-radius: 10%;
            &.left {
                float: left;
                margin-right: 5%;
                transition: margin-right 1.5s, margin-bottom 1.5s, transform 1s;
                &:hover { margin-right: 8%; }
            }
            &.right {
                float: right;
                margin-left: 5%;
                transition: margin-left 1.5s, margin-bottom 1.5s, transform 1s;
                &:hover { margin-left: 8%; }
            }
            &:hover {
                transform: scale(1.25);
                margin-bottom: 4%;
            }
        }
    }
}

@media screen and (max-width: 1280px) { /* Specific to this particular image */
    img#background {
        left: 50%;
        margin-left: -640px;   /* 50% */
    }
}