$font: 'Roboto';
$space: 5%;
$mobile-width: 425px;

body {
  font-family: $font;
  font-size: 16px;
  padding: $space;
}

section#input {
  #theme-switcher {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 1% 0;
    span { margin: 0 5%; }
  }
  .input-group { margin: 1% 0; }
}

section#output { 
  padding: $space / 2;
  ol { margin-bottom: 1%; }
}

section#input,
section#output {
  button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: $mobile-width) {
  body { font-size: 32px; }
  section#input {
    .input-group { 
      flex-direction: column;
      span, input { width: 100%; }
    }
  }
}