$font: "Roboto";
$fontSizeBase: 16px;

body {
	font-family: $font;
	font-size: $fontSizeBase;
	padding: 5%;
}

#quiz {
	li {
		margin-bottom: 1%;
		.option-group div input,
		.option-group div label {
			cursor: pointer;
		}
	}
	#button-grade {
		margin-bottom: 5%;
		cursor: pointer;
	}
}

.popover {
	.popover-body {
		text-align: center;
		font-size: 2rem;
	}
}
